@CHARSET "ISO-8859-1";

body{
	
}

.group, .qa{
	border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
}

.numeric-input, .pts, .numeric-input1, .numeric-input2{
	width: 40px;
	margin-left: 8px;
	margin-right: 10px;
	
	
}


.numeric-input-pts, .numeric-input-pts-qa, .numeric-input-pts-group{
	width: 40px;
	margin-left: 1px;
	margin-right: 10px;
}

input{
	margin-left: 8px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
button, textarea{
	margin-left: 8px;
	margin-right: 10px;
}
text
.group-name{
	margin-left: 8px;
	margin-right: 10px;
}

#input-name-cong{
	margin-left: 27px;
}

.btn-display{
	float: right;
}

label {
 
}


