

.commands {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	text-align: center;
}

.commands .button {
	vertical-align: middle;
	display: inline-block;
}

.player {
	width: 100%;
	height: 90%;
	background: white;
}

