
.base {
	position: relative;
}

.commands {
	position: absolute;
	height: 90px;
	min-height: 90px;
	text-align: center;
	top: 10px;
	right: 100px;
}

.button {
	padding-left: 10px;	
	padding-right: 10px;
	display: inline-block;
	font-weight: bold;
    color: #aab;
	font-size: 12px;
}

.fullscreenButton {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}

.hide {
	display: none;
}

.skeleton-select {
	float: left;
}