
grant {
    permission java.net.SocketPermission "127.0.0.1:*", "connect,resolve";
    permission java.net.SocketPermission "127.0.0.1:*", "accept";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.io.FilePermission "-", "read,write";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.io.FilePermission "/bin/ls", "execute";
    permission java.lang.RuntimePermission "accessUserInformation";
};
