
.code {
	min-width: 590px;
	min-height: 480px;
	margin: 5px;
	
}

.naming {
	margin: 5px;
}

.fileupload {
	display: block;
	margin:5px;
	margin-bottom: 10px;
	float: left;
	max-width: 300px;
}

.filename {
	display: inline-block;
}

.naming span {
	width: 30%;
	min-width: 110px;
}

.naming .filenameInput {
	width: 69%;
	min-width: 110px;
}

.naming .filenameInput input{
	-webkit-box-sizing : border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing : border-box;
    width: 100%;
}

.okBtn {
	margin: 5px;
	float: right;
	height: 30px;
}

.cancelBtn {
	margin: 5px;
	float: right;
	height: 30px;
}

.downloadBtn {
	margin: 5px;
	float: right;
	height: 30px;
}