
.base {
		width: 100%;
		height: 100%;	
}


.grid {
		margin-top:10px;
		width: 100%;
}

.detail {
	width: 100%;
	padding: 10px;
	background-color: #efefef;
}

.problem, .team {}

.header, .pager {
		width: 100%;
		height: 2%;
}

.filters {
	display: block;
	margin:	auto;
	margin-top: 10px;
	padding: 10px;
}

.filters span {
	vertical-align: top;
}

.filters .team, .filters .problem, .filterList {
	width: 200px;
	margin: 10px;
	display: block;
}

.filtersproblem {
	margin-left: 30px;
	display: inline-block;
}

.filtersteam {
	display: inline-block;
}

.filterName {
	vertical-align: top;
	display: inline-block;
	font-weight: bold;
}

.close{
    float: right;
	margin-top: -28px;
	margin-right: -19px;
	cursor: pointer;
	color: white;
	border: 1px solid #AEAEAE;
	background: #605F61;
	font-size: large;
	padding: 6px 10px;
	font-weight: bold;
	display: inline-block;
	line-height: 1em;    
}

